.image-wrapper {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.image-wrapper:hover .main-topt-img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

}

.image-wrapper:hover .main-floating-title {
    text-shadow: 0 0 15px rgb(255, 255, 255);
}

.image-wrapper:hover .bold-fl-title {
    font-weight: bold;
}

.main-topt-img {
    width: 97%;
    margin: 10px;
    height: 500px;
    object-fit: cover;
    object-position: 100% 35%;
}

.main-floating-title {
    position: absolute;
    color: white;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 25px;
    bottom: 10px;
    left: 0;
    width: 100%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85),
        transparent
    );
    text-align: -webkit-left;
}

.bold-fl-title {
    font-weight: lighter;
}