.superFormWrappalogin{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
    margin-bottom: 30px;
}
 
.superFormWrappa{
 padding-right: 8cm;
}
.formWrappal{
    background-color: hsl(125, 51%, 17%);
    border-radius: 6%;
    padding-top: 20px;
    padding-bottom: 30px;
}


.text-light{
    text-shadow: 3px 4px 15px rgb(223, 233, 138),5px 9px 30px rgb(208, 211, 184),2px 7px 25px rgb(97, 201, 102);
}
.input-login{
    background-color: rgb(3, 43, 3);
    box-shadow: 1px 4px 15px rgb(223, 233, 138);
    border-radius: 25%;
}