.card {
    background-color: rgb(35, 35, 35);
    color: white;
    border-radius: 20px;
}

.img-card {
    object-fit: cover;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.679);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.yellow {
    color: rgb(255, 255, 194);
}

.red {
    color: rgb(255, 82, 82);
}

.info-button {
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    margin-left: 13px;
    border-radius: 20px;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.512);
    padding: 5px 10px;
}

.lighter {
    font-weight: lighter;
}

.lighter:hover {
    text-shadow: 0 0 15px rgb(255, 255, 255);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -o-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.lighter:active {
    font-weight: bold;
}

.movie_title {
    margin-right: 55px;
    height: 170px;
    font-size: 17px;
    font-family: 'Bungee';
}

.rating {
    font-size: 15.5px;
    font-style: italic;
    align-self: center;
}

.content {
    position: relative;
}

.card-bottom {
    position: absolute;
    bottom: 10px;
}

.trailer-btn, .watchl-btn {
    color: white;
    font-size: 15.5;
}