.superFormWrappa2{
    text-align: -webkit-center;
    margin-top: 35px;
    margin-bottom: 50px;
}
.formWrappa2{
    background-color:rgba(20, 19, 19, 0.705);
    border-radius: 6%;
    padding-top: 10px;
    padding-bottom: 27px;
    margin-left: 150px;
    margin-right: 150px;
}
.form-control {
border-radius: 25%;
color: lightgrey;
}

.form-label {
    margin-top: 10px;
}

.form-control:active {
    color: black;
}